DataSet/
data/raw/
*.pyc
__pycache__/
.ipynb_checkpoints/
*.log
reports/logs/
env/
.vscode/
data/features/lfcc
data/features/logmel
data/noise_rir/musan
data/noise_rir/rir
data/features_augmented/lfcc
data/features_augmented/logmel
data/features_merged/features_manifest_combined.csv
*.h5
*.pth
testing_audios/
data/realworld/manual/
data/realworld/synthetic/
data/realworld/processed/
data/realworld/youtube/
data/realworld/public_datasets/