DataSet/
data/raw/
*.pyc
__pycache__/
.ipynb_checkpoints/
*.log
reports/logs/
env/
.vscode/
data/features/lfcc_previous_pipeline
data/features/logmel_previous_pipeline
data/noise_rir/musan
data/noise_rir/rir
data/features_augmented/lfcc
data/features_augmented/logmel
data/features_merged/features_manifest_combined.csv
*.h5
*.pth
testing_audios/
data/realworld/manual/
data/realworld/synthetic/
data/realworld/processed/
data/realworld/youtube/broadcast/clips
data/realworld/youtube/podcast/clips
data/realworld/youtube/social/clips
data/realworld/public_datasets/
data/manifests/train_speaker_independent.csv
data/manifests/unified_asvspoof_manifest.csv
data/manifests/unified_manifest.csv
data/features/spectrograms
data/features/environmental
data/features/logmel_packed.h5
data/features/environmental_packed.h5
data/features/features_manifest_unified.csv
data/manifests/train_speaker_independent_with_features.csv